<template name="documentShow">

  <div class="document-show">
    <div class="card">
      <div class="card-body">
        {{#if Template.subscriptionsReady}}
          <span>
            <h3 style="display: inline-block">{{problem.summary}}</h3>
            <span class="mt-1 ml-4" style="display: inline-block; vertical-align: top;">
              {{{statusText problem.status}}}
            </span>
          </span>
          <p class="card-text">{{problem.description}}</p>

          <h6 class="card-subtitle text-muted">Solution:</h6>
          <p class="card-text">{{problem.solution}}</p>
          <hr>
          <p class="text-muted" style="margin:0">
            <strong>{{getNameById problem.createdBy}}</strong> created this {{showTimeAgoTimestamp problem.createdAt}} <br/>

            {{#if problem.updatedAt}}
              Updated: {{showTimeAgoTimestamp problem.updatedAt}}<br>
            {{/if}}
          {{#if problem.claimed}}
          Claimed by <strong>{{problem.claimedFullname}}</strong> {{showTimeAgoTimestamp problem.claimedDateTime}} <br />
          {{/if}}
          {{#if problem.resolved}}
            Resolved by <strong>{{resolvedByUser problem}}</strong> {{showTimeAgoTimestamp problem.resolvedDateTime}} <br>
          {{/if}}
          </p>
          <a href="{{pathFor 'documentsIndex'}}" class="btn btn-link">Back</a>
          <div class="problem-action-buttons float-right">
            {{#if isProblemOwner problem.createdBy}}
            <a class="btn btn-sm btn-secondary" href="{{pathFor 'documentEdit' documentId=problem._id}}" role="button">Edit</a>
            <a class="btn btn-sm btn-danger js-delete-document" href="#" role="button">Delete</a>
            {{/if}}
          </div>
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text">{{problem.description}}</p>

        <h6 class="card-subtitle text-muted">Solution:</h6>
        <p class="card-text">{{problem.solution}}</p>
      </div>
    </div>
  </div>

{{#each comment in comments}}
  {{> documentComments comment=comment}}
{{/each}}

    <div class="document-show">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" id="comments" name="comment" rows="3" required></textarea>
                </div>
                <p class="text-danger">{{ commentInvalidMessage }}</p>
                <button type="submit" class="btn btn-primary mb-2 documentCommentBtn">Comment</button>
            </div>
        </div>
    </div>
    
    <div class="take-action my-2">
      <div class="card">
          <div class="card-body">
            <svg width="0" height="0">
              <defs>
                <clipPath id="clipper" clipPathUnits="objectBoundingBox">
                  <path d="M0,0 0.79,0 0.83,0.5 0.79,1 0.81,1 0.85,0.5 0.81,0 0.86,0 0.9,0.5 0.86,1 0.88,1 0.92,0.5 0.88,0 0.93,0 0.97,0.5 0.93,1 0,1z" />
                </clipPath>
              </defs>
            </svg>
            <p class="btn-wrap pl-4 pt-1 pb-1 float-left">
              Take an action
            </p>
            {{#if Template.subscriptionsReady}}
            <span class="problem-action-buttons float-left">
              {{{claimButton problem}}}
              {{{watchButton problem}}}
            </span>
            <span class="problem-action-buttons float-right">
              {{#if problem.claimed}}
                {{#if hasClaimedProblem problem.claimedBy}}
                  {{{ markAsResolved problem }}}
                {{/if}}
              {{/if}}
              {{{statusButton problem}}}
            </span>
            {{else}}
              {{> loader}}
            {{/if}}
          </div>
      </div>
    </div>
</template>
